@CHARSET "UTF-8";
header, nav, article, section, footer, hgroup, aside { display: block }
@media screen {
	* {
        margin: 0px;
        padding: 0px;
		font-family:Calibri,verdana,helvetica,sans-serif,arial;
    }
    a {
        text-decoration:none;
        color:#32657c;
        font-style:italic;
        font-weight:bold;
    }
	.button{
		background-color: #65C2E9;
		border-color: #9CDCF2 #9CDCF2 #286A82;
		border-radius: 4px 4px 4px 4px;
		border-style: solid;
		border-width: 1px;
		color: #002225;
		cursor: pointer;
		display: inline-block;
		font-size: 14px;
		font-style: italic;
		font-weight: normal;
		height: 30px;
		line-height: 18px;
		margin: 3ex 0 1ex 0.5em;
		padding: 3px 1em;
		text-decoration: none;
		text-shadow: 1px 1px 3px #EBEBEB;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
	}
	.button.disabled { 
		background: url("../img/lock.png") no-repeat scroll 4px center #65C2E9;
		color: #6CA8C2;
		cursor: default;
		padding-left: 30px;
	}
	input[type="text"], input[type="password"],
	input[type="email"], input[type="number"]{
		background-color: #FFFFFF;
		border: 1px solid #E1E1E1;
		border-radius: 4px 4px 4px 4px;
		box-shadow: 1px 1px 2px #E8F0F2 inset;
		display: block;
		font-size: 1em;
		height: 18px;
		margin-bottom: 1ex;
		padding: 5px 10px;
		width: 200px;
	}
	input[type="submit"]{
		float: right;
		margin:25px;
	}
	label{
		clear: left;
		display: block;
		font-weight: bold;
		margin-top: 1ex;
	}
	
    .clearerfix:after {
        content:" ";
        clear: both;
        display: block;
        height: 0;
        visibility: hidden;
        width: 0;
    }
    .right { float:right }
    .left{ float:left }
    .hidden{ display:none }
	
	body { 
		background:#efefef url("../img/noise.png") repeat;
		font-size: 13px;
	}
	
	#top {
		
		background: #131413;
		filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#020503, endColorStr=#373434, gradientType=0);
		background: -moz-linear-gradient(top, #020503, #373434);
		background: -webkit-gradient(linear, left top, left bottom, from(#020503), to(#373434));
		border-bottom: 1px solid #FFFFFF;
		box-shadow: 0 0 5px 1px #000000;
		height: 60px;
	}
	#top .center, #main_nav {
		width: 980px;
		margin: 0 auto;
	}
	#logo{margin:15px 0}
	
	#main_nav ul { list-style: none }
	#main_nav ul * { color:#fff }
	#main_nav > ul > li {
		background: none repeat scroll 0 0 #000000;
		display: block;
		float: right;
		margin-left: 0.5em;
		padding: 0.5ex 0.5em;
	}
	#page_title {
		color: #464646;
		font-size: 2em;
		margin: 0 auto;
		padding-left: 5em;
		text-shadow: 1px 1px 0 #FFFFFF, 1px 1px 2px #444444;
		width: 980px;
	}
	#page {
		color:#464646;
        text-shadow: 1px 1px 3px #C7D8E3;
        background-color: white;
        border-radius: 10px;
        margin: 15px auto;
        min-height: 400px;
		overflow: hidden;
        width: 980px;
        box-shadow:1px 1px 10px #c0c0c0;
	}
	#bottom {
		text-align: center;
		color:#C0C0C0;
		font-size: 0.8em;
		margin-bottom: 1ex;
	}
	#bottom *{ color: #C0C0C0 }
	
	.popup_background{
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		display: none;
		cursor: pointer;
	}
	.popup{
		background-color: #FAFAFA;
		border-radius: 10px 10px 10px 10px;
		box-shadow: 1px 1px 10px 8px #999999;
		color: #464646;
		margin: 200px auto 0;
		padding: 10px;
		text-shadow: 1px 1px 3px #C7D8E3;
		top: 215px;
		width: 222px;
		cursor: default;
	}
	.popup fieldset{ border: none }
	.popup legend{
		font-size: 1.5em;
		font-weight: bold;
	}
	
	#login{
		margin-top: 100px;
		min-height: 200px;
		position: relative;
		top: 0;
		width: 525px;
	}
	#login fieldset{
		background-color: transparent;
		float: left;
		margin: 0;
		padding: 0 20px;
		width: 222px;
	}
	#login fieldset#signup{ border-right: 1px dotted #ccc }
	#page table, #page fieldset{
		width: 100%; 
		background-color: #e8eff2;
		margin:15px 0;
		border: none;
	}
	tbody tr:nth-child(odd){background-color: #f5f8f9}
	td{padding: 0 1em}
	td.small{
		width: 40px;
		text-align: center;
		padding: 0;
	}
	
	#page fieldset{
		padding: 25px;
	}
	#page fieldset legend{
		border-bottom: 1px dotted #FFFFFF;
		display: block;
		float: left;
		font-size: 1.5em;
		font-weight: bold;
		margin: -20px 0 13px -25px;
		padding-left: 25px;
		width: 100%;
	}
	input.left_field{
		border-radius: 4px 0 0 4px;
		border-right: medium none;
		clear: left;
		float: left;
	}
	input.right_field{
		border-left: medium none;
		border-radius: 0 4px 4px 0;
		float: left;
	}
	
	input.default_radio { 
		float: left;
		margin: 8px;
	}
	input.add_contact_feature { 
		clear: left;
		float: left;
		margin-left: 0;
		margin-top: 0;
	}
	.icon{
		background-color: transparent;
		border: none;
		cursor: pointer;
		display: block;
		height: 20px;
		margin: 0 auto;
		overflow: hidden;
		text-indent: -999px;
		width: 20px;
	}
	.add_contact{background-image: url('../img/user add.png')}
	.edit{background-image: url('../img/page edit.png')}
	.share{background-image: url('../img/network share.png')}
	.delete{background-image: url('../img/bin closed.png')}
	.forbidden{background-image: url('../img/lock.png')}
	
	form ul { list-style: none }
	form ul input[type="checkbox"],
	form ul label { display:inline }
	
	#shareing_user_permissions{
		display: inline-block;
		width: 2em;
	}
}
@media print
{
    * {
        color:black; 
        font-size:10pt;
        background: #fff;
    }
    header, nav, footer { display: none }
    article, section, hgroup, aside { display: block }
    .noPrint { display:none }
    br.pageBreaker { page-break-after : always }
}
